@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#navbar
{
    position: sticky;
    top:0;
    left: 0;
    z-index: 100;
   padding-left: 80px;
   padding-right: 80px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}
#navbarNav a{
    color: gray;
}

p.text-center{
    position:fixed;
}
h2.supp1{
    position:-ms-page;
}

.carousel-dark{
    background-color: black;
}

h2.text{
    text-align: center;
}
header {
   
    overflow: hidden;
    color: white;
}

img {
   object-fit: cover;
   opacity: 0.4;
}

.my-nav{
    position: absolute;
    z-index: 10;
    width: 100%;
    }
    .navbar .navbar-brand
    {
        font-size: 35px;
        font-weight: 600;
        color: rgb(0,191,255) !important;
    }
    .carousel-item {
      height: 100vh;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    
    body{
      background-color: white;
      
    }
   p.text-center{
    text-align: center;
   }
    .don-sec{
        font-size:medium;
        background-color: #e6edff;
        padding: 150px 0;
    }
    
    .don-sec .don-box{
        margin: 50px 0;
        background-color: #fff;
        padding: 50px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 0 15px #b4afaf;
        transition: all 1s;
        color:black;
    }
    
    div.don-box img{
        width: 70px;
        transition: all 1s;
    }
    
    .don-sec .don-box h3{
        margin: 15px 0 10px;
    }
    
    .don-sec .don-box p{
        margin-bottom: 25px;
    }
    
    .don-sec .don-box:hover img{
        transform: scale(1.1);
    }
    
    .don-sec.heading{
        color:rgba(0, 0, 0, .5)
    }
    
    .about-sec{
    padding: 150px 0;
    background-color: #e6edff;
    text-align: center;
}

.about-sec img{
    width: 350px;
    border: 5px solid ;
    border-radius: 5px;
}

.about-sec .about-txt p{
    font-size: 18px;
    
}

footer {
    background-color: white;
    color:black;
    text-align: center;
}











